<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <title>Top Capítulos</title>
</head>
<body>

<div th:insert="fragments/header :: header"></div>
<h1>Top Capítulos por Calificación</h1>
<table>
  <thead>
  <tr>
    <th>ID</th>
    <th>Nombre</th>
    <th>Código</th>
    <th>Descripción</th>
    <th>Calificación</th>
  </tr>
  </thead>
  <tbody>
  <tr th:each="capitulo : ${capitulos}">
    <td th:text="${capitulo.id}"></td>
    <td th:text="${capitulo.nombre}"></td>
    <td th:text="${capitulo.codigo}"></td>
    <td th:text="${capitulo.descripcion}"></td>
    <td th:text="${capitulo.calificacion}"></td>
  </tr>
  </tbody>
</table>

<div th:insert="fragments/footer :: footer"></div>
</body>
</html>
