<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <style>
    .header {
      background-color: #1a1a1a; /* Fondo oscuro */
      color: #8bc34a; /* Verde alusivo a la serie */
      padding: 10px;
      text-align: center;
    }
    .header a {
      color: #8bc34a; /* Color de los enlaces */
      margin: 0 10px; /* Margen entre los enlaces */
      text-decoration: none; /* Sin subrayado */
      font-weight: bold; /* Texto en negrita */
    }
    .header a:hover {
      color: #cddc39; /* Color al pasar el ratón sobre los enlaces */
    }
  </style>
</head>
<body>
<div class="header" th:fragment="headerFragment">
  <h1>Breaking Bad</h1>
  <nav>
    <a th:href="@{/index}">Inicio</a>
    <a th:href="@{/temporada}">Temporadas</a>
    <a th:href="@{/capitulos/top}">Capítulos Top</a>
    <a th:href="@{/temporada/{id}/actoresT(id=1)}">Actores</a>
    <!-- Enlace a los capítulos de una temporada específica, utilizando un ID dinámico -->
    <a th:href="@{/temporadas/{id}/capitulos(id=1)}">Capítulos de la Temporada:</a>
  </nav>
</div>
</body>
</html>
