<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
  <style>
    .header {
      background-color: #1a1a1a;
      color: #8bc34a;
      padding: 10px;
      text-align: center;
    }
    .header a {
      color: #8bc34a;
      margin: 0 10px;
      text-decoration: none;
      font-weight: bold;
    }
    .header a:hover {
      color: #cddc39;
    }
  </style>
</head>
<body>
<div class="header" th:fragment="headerFragment">
  <h1>Breaking Bad</h1>
  <nav>
    <a th:href="@{/index}">Inicio</a>
    <a th:href="@{/temporada}">Temporadas</a>
    <a th:href="@{/capsxtemp}">Capítulos</a>
    <a th:href="@{/capitulosTop}">Capítulos Top</a>
    <a th:href="@{/actores}">Actores</a>
  </nav>
</div>
</body>
</html>

