<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Breaking Bad</title>
    <meta charset="UTF-8">
</head>
<body>

<!-- Fragmento de encabezado -->
<div th:replace="fragments/header :: headerFragment"></div>

<div class="container">
    <img th:src="@{/imagenes/brba.webp}" alt="Breaking Bad Poster" style="width: 200px; height: auto;">
    <h1>Breaking Bad</h1>
    <p><span class="info">Creador:</span> Vince Gilligan</p>
    <p><span class="info">Clasificación:</span> Drama criminal, Suspenso, Gánsteres, Neo-Wéstern, Humor negro, Tragedia</p>
    <p><span class="info">Descripción:</span> El profesor calmado de química de una secundaria...</p>
    <p><span class="info">Temporadas:</span> <span th:text="7">Número de temporadas</span></p>
    <p><span class="info">Año de emisión:</span> 2008 - 2013</p>
</div>

<!-- Fragmento de pie de página -->
<div th:replace="fragments/footer :: footer"></div>

</body>
</html>
